*.DS_Store
*.log
*.synctex*
*.toc
*.blg
*.bbl
*.aux
*.lof
*.lot
*.dcf
*.gz
*.ai
*.Rproj*
*.RData
*.Rhistory
_book
.Rproj.user
rsconnect
rsconnect/documents/index.Rmd/bookdown.org/sbtseiji/jamovi_complete_guide.dcf
